@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
  font-family: 'Open Sans', sans-serif;
  box-sizing:border-box
}
h2 {
  text-align: center;
}
body{
  background-color: white;
  font-family: -apple-system;
}


/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}
/* Ẩn các slider */
.mySlides {
    display: none;
     width: 100%;
  height: 500px;
}
/* Định dạng nội dung Caption */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
 
/* định dạng các chấm chuyển đổi các slide */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
/* khi được hover, active đổi màu nền */
.active, .dot:hover {
  background-color: #717171;
}
.slideanh{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Thêm hiệu ứng khi chuyển đổi các slide */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 10s;
  animation-name: fade;
  animation-duration: 3s;
}
 
@-webkit-keyframes fade {
  from {opacity: .1} 
  to {opacity: 1}
}
 
@keyframes fade {
  from {opacity: .1} 
  to {opacity: 1}
}
#rectangle{
    width:100%;
    height:auto;
    border-top: rgb(235,235,235) solid 2px;
    border-bottom: rgb(235,235,235) solid 2px;
    position: relative;
}

#rectangle .row:first-child {
  text-align: center;
}

#user_box{
  width:100%;
    height:auto;
    
    position: relative;
}

#rectangle_left{
    width:100%;
    height:auto;
    margin-bottom: 10px!important;
    padding-bottom: 10px; 
    /*box-shadow: 0 2px 7px 0 rgba(0,0,0,.5);*/
   
}

#rectangle_right:hover{
  cursor: pointer;
}
#rectangle_right{
    width: 100%;
    height: auto;
    position: sticky;
    top: 20px;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,.3);
    border-radius: 5px;
    font-size: 15px;
}

#rectangle_right .card-body > *{
  margin-bottom: 5px;
}
.dan_le{
  margin-bottom: 10px;
  margin-top: 10px;
}

#dia_chi{
  font-size: 15px;
}

.titlebox{
  margin-top: 10px; 
  padding-top: 10px;
  text-transform: uppercase;
}

.idtin, .ngaydang, .ngayhethan{
    position: relative;
   
}

.id_tin, .ngay_dang, .ngay_hethan{
  margin: 0;
  line-height: 2.5;
  
}

.binhluan{
       background-color: white;
       border:3px solid white;
       width: 100%;
       height: auto;
       max-height: 500px;
       overflow-x: auto;
       overflow-y: auto;
}

.rate {
    display: inline-block;
    width: 170px;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
} 
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}

.dot_slide{
  text-align: center;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.rateStar{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
    padding: 40px;
    margin: 20px;
    text-align: center;
    position:  relative;
    border-bottom: solid 2px rgb(235,235,235);
}

.rateStar .starTitle{
  width: 100%;
  text-align: center;
  margin: auto;
  display: block;
}
.rateStar .Star{
  display: block;
  margin: auto;
  width: 100%;
}

.redheart{
  color: red;
}
.blackheart{
  color: gray;
}

.baocao, .tim{ 
  top: 30px;
  left: 40px;
  padding: 5px;
  transform: scale(1.5,1.5);
  outline: none;
  outline-style: none;  
  outline-width: 0; 
  border: solid 1px rgb(220,220,220);
  border-radius: 20px;
}

.baocao{
  color: gray;
}
.like:hover, .report:hover{
  cursor: pointer;
}
.user{
  display: block;
  margin-top: 0px;
  margin-bottom: 10px; 
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  height: 50px;
  background-color: white;
}

.user .report{
  position: absolute;
  margin: 2px;
  display: block;
  left: 50px;
  bottom: 10px;
}

.user .like{
  position: absolute;
  margin: 2px;
  display: block;
  left: 250px;
  bottom: 10px;
}

.quanli{
  margin: 10px;
  padding: 10px;
}
.quanli .admin, .quanli .owner{
  display: none;
  margin: 10px;
  padding: 10px;
}

.quanli button{
  display: inline-block;
}

.comment_none{
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.comments{
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  padding-right: 10px;
  margin-left: 10px;
}

.title{
  font-size: 25px;
}

.comments #comment{
  width: 95%;
}

.comments #submit_cmt{
  width: 5%;
  transform: scale(2,2);
}
.user_comment{
  background-color: rgb(230,230,230);
  border-radius: 5px;
  margin: 2%;
  padding: 5px;
}

.user_comment .content {
  font-size: 13px;
}

.hoten_user, .ten_user{
  font-size: 15px;
  font-weight: bold;
}

.star_title{
  font-size: 20px;
  font-weight: bold;
}

.hoten_user, .ten_user, .content{
  margin-right: 2%;
  margin-bottom: 0%;

}

.ten_user {
  margin-left: 2%;
}

.content{
  word-wrap: break-word;
}

.box_comment{
  box-shadow: 0 2px 7px 0 rgba(0,0,0,.3);
}

.mo_ta{
  width: 50%;
  margin: 2%;
}

.mo_ta_chi_tiet{
  margin: 2%;
}
.flex_box{
  display: flex;
}
.sub_title{
  color: gray;
}
.sua{
  display: none;
}

#gia{
  font-size: 25px;
  color: #009177;
  font-weight: 700;
}
i.fa.fa-arrow-circle-right {
    margin-top: 11px;
    cursor: pointer;
    color: #007bff;
    margin-left: 36%;
}
.card{
  margin-top:10px; 
}
p {
    margin-top: 0;
    margin-bottom: 0rem;
}
.idOwner, .id_user{
  display: none;
}

.duyet, .xoa, .trangthai, .sua, .xoa_admin, #validateButton{
  display: block;
}
.trang_thai_bai_dang{
  display: none;
}

#rectangle .row p{
  width: 100%;
  
}
.ngay_dang, .ngay_hethan{
  /*margin-left: 30%; */
}

.modal .modal-dialog{
    transition: opacity 0.5s linear;
 }

.binhluantitle{
  margin-left: 2%; 
}

.inf_trangthai, .luotxem, .luotthich{
  line-height: 2.5;
}