:root{
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../picture/background.jpg);
    background-size: cover;
}

body {
    background: transparent;
}

.container {
    background-color: rgb(240, 242, 245, 0.8);
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,.3);
}

.title {
    margin-top: 5px;
    padding-top: 5px;
    text-align: center;
}

.form-group {

}

.form-group label {
    font-size: 20px;
    margin-left: 10%;
    margin-top: 10px;
}

.form-group input {
    width: 80%;
    margin: auto;
}

select {
    margin-left: 10%;
    width: 15%;
}

.submit {
    margin-top: 20px; 
    text-align: center; 
    font-size: 20px; 
}

.submit button {
    border-radius: 5px; 
    width: 100px; 
    margin-bottom: 5px; 
    padding-bottom: 5px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

@media screen and (max-width: 960px) {
    .container {
        width: 80%;
    }
}